/* For all scrollbars */

::-webkit-scrollbar {
  width: 7px; /* Adjust scrollbar width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D3D3D3;
}

/* For horizontal scrollbars */
::-webkit-scrollbar:horizontal {
  height: 7px; /* Adjust scrollbar height as needed */
}

/* Track */
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: #D3D3D3;
}
/* Add this style for overflow handling */
.overflow-auto {
  overflow: auto;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f1f1f1; /* Handle and track colors */
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
