/* For all scrollbars */

::-webkit-scrollbar {
  width: 7px; /* Adjust scrollbar width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e8f0;
  /* color: #caf0f8; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* For horizontal scrollbars */
::-webkit-scrollbar:horizontal {
  height: 7px; /* Adjust scrollbar height as needed */
}

/* Track */
::-webkit-scrollbar-track:horizontal {
  background: #e2e8f0;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: #000000;
}
/* Add this style for overflow handling */
.overflow-auto {
  overflow: auto;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #000000 #e2e8f0; /* Handle and track colors */
  /* scrollbar-color: #000000 #f1f1f1; */ /* Handle and track colors */

  font-family: 'Arial', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
